In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [4]:
df = pd.read_csv("../data/raw/diabetes_prediction_dataset.csv")

In [5]:
df.drop_duplicates(inplace=True)

## Data division

In [6]:
train, test_val = train_test_split(df, test_size=0.25, random_state=42)

In [7]:
valid, test = train_test_split(test_val, test_size=0.5, random_state=42)

In [8]:
train.to_csv("../data/processed/train.csv", index=False)
valid.to_csv("../data/processed/valid.csv", index=False)
test.to_csv("../data/processed/test.csv", index=False)

In [9]:
len(train), len(valid), len(test)

(72109, 12018, 12019)

In [10]:
train.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
5110,Female,14.0,0,0,No Info,21.80,3.5,126,0
34185,Male,21.0,0,0,never,44.09,5.0,140,0
31338,Female,13.0,0,0,No Info,17.16,6.5,126,0
20618,Female,25.0,0,0,No Info,27.32,4.0,100,0
4010,Male,17.0,0,0,No Info,22.88,4.0,158,0

In [11]:
valid.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
49908,Male,54.00,0,0,current,30.23,4.5,90,0
53833,Female,1.64,0,0,No Info,17.00,3.5,100,0
83514,Male,17.00,0,0,never,22.94,6.6,155,0
39869,Female,57.00,0,0,not current,20.74,4.8,159,0
76503,Female,44.00,0,0,No Info,27.32,6.6,100,0

In [12]:
test.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
53700,Male,77.0,0,0,not current,35.77,7.5,220,1
76235,Female,60.0,0,0,No Info,24.60,6.0,158,0
77346,Male,16.0,0,0,never,21.20,6.5,145,0
2132,Female,30.0,0,0,ever,24.80,5.7,100,0
14046,Male,39.0,0,0,current,33.83,5.7,145,0